body{
  background:#fffdef;
}
.header{
  background-color:#f44242;
  height:400px;
  opacity:0.9;
}
h1{
  text-align:center;
  font-size:65px;
  padding-top:83.75px;
  color:#fffdef;
  letter-spacing: 5px;
  padding-left:20px;
  padding-right:20px;
  z-index:1;
  position:relative;
}
@media(min-width:375px){
  h1{
    padding-top:110px;
  }
}
@media (min-width:640px){
  h1{
    padding-top:150px;
  }

}
@media (min-width:912px){
  h1{
    padding-top:147.5px;
    font-size:100px;
  }
  .content{
    float: left;
   width: 60%;
  }
  .sidebar{
    width:35%;
    float:right;
  }
}
.content{
  margin-top:20px;
}
.about-me{
  text-align:center;
  font-size:35px;
  text-decoration:underline;
  color:#262523;
}
.about-me-section{
  text-align: justify;
  padding-left:20px;
  padding-right:20px;
  color:#262523;
}
.sidebar{
  background-color:#fffdef;
  margin-top:30px;
}

.nav a{
  text-decoration:none;
  list-style-type: none;
  color:#fffdef;
}
.nav{
  margin-bottom:75px;
}
.nav li{
  border: 2px solid #262523;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#262523;
  margin-bottom:33.33px;
  font-size:25px;
}
.fa-stack{
  width:100% !important;
  margin-top:-45px;
}
.fa{
  color:#262523;
  background-color:#f44242;
  width:100%;
  text-align:center;
}
a:hover{
  opacity:0.8;
  transition:0.5s;
}
a{
  transition:0.5s;
  text-decoration:none;
}
