body{
  background:#fffdef;
}
.header{
  background-color:#f44242;
  height:400px;
  opacity:0.9;
}
h1{
  text-align:center;
  font-size:65px;
  padding-top:83.75px;
  color:#fffdef;
  letter-spacing: 5px;
  padding-left:20px;
  padding-right:20px;
  z-index:1;
  position:relative;
}
@media(min-width:375px){
  h1{
    padding-top:110px;
  }
  div.desc{
    width:250px;
  }
}
@media (min-width:640px){
  div.gallery{
    margin-right:10px;
    float:left;
  }
  h1{
    padding-top:150px;
  }
  .sidebar{
    width:35%;
    float:right;
  }
}
@media (min-width:768px){

}
@media (min-width:912px){
  div.gallery{
    margin-right:10px;
    float:left;
  }
  h1{
    padding-top:147.5px;
    font-size:100px;
  }
  .content{
    float: left;
   width: 60%;
  }
  .sidebar{
    width:35%;
    float:right;
  }
}
.content{
  margin-top:20px;
  height:auto;
}
.about-me{
  text-align:center;
  font-size:35px;
  text-decoration:underline;
  color:#262523;
}
.about-me-section{
  text-align: justify;
  padding-left:20px;
  padding-right:20px;
  color:#262523;
}
.sidebar{
  background-color:#fffdef;
  margin-top:30px;
}

.nav a{
  text-decoration:none;
  list-style-type: none;
  color:#fffdef;
}
.nav{
  margin-bottom:75px;
}
.nav li{
  border: 2px solid #262523;
  background-color:#262523;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:33.33px;
  font-size:25px;
}
.nav li:hover{
  background:black;
}
.fa-stack{
  width:100% !important;
  margin-top:-45px;
}
.fa{
  color:#262523;
  background-color:#f44242;
  width:100%;
  text-align:center;
}
i:hover{
  opacity:0.8;
  transition:0.5s;
}
i{
  transition:0.5s;
}


div.gallery{
  margin-right:10px;
}
div.gallery:hover{
  opacity:0.8;
}
.gallery-container{
  display:block;
  margin-left:30px;
}
div.desc{
  background-color:#262523;
  color:#fffdef;
  margin-bottom:1px;
  padding:5px;
}
.images{
height:auto;
background-color:#628c48;
border: 10px solid #456332;
margin:0px auto;
}
.book-gallery {
  height:280px;
  background-size:contain;
  width:200px;
  display:inline-block;
  background-color:#f44242;
  border:3px solid #fffdef;
  margin:0px auto;
  margin-left:39px;

}
.image{background-image:url("assets/images/nyt-astronomy.jpg");}
.image2{background-image:url("assets/images/egoisthenenemy.jpg");}
.image3{background-image:url("assets/images/thebigidea.jpg");}
.image4{background-image:url("assets/images/iching.jpg");}
.image5{background-image:url("assets/images/divinecomedy.jpg");}
.image6{background-image:url("assets/images/Timemachinebook.JPG");}
